# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/
.env

# =========================
# Data
# =========================
data/raw/
data/processed/
*.csv
*.parquet
*.zip
*.gz

# =========================
# Models
# =========================
*.pkl
*.joblib
*.h5
*.keras
*.pth
*.pt

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Docker runtime data
# =========================
clickhouse_data/
namenode_data/
datanode_data/
grafana_data/

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/